@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color-um: #4A4A4A;
    --fundo-tela: #e3ecf7;
    --font: 'Montserrat', 'arial', 'sans-serif';
    --color-fonts: #4A4A4A;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-tela);
    font-family: var(--font);
    height: 100vh;
}


main {
    
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.555);
    padding: 70px;
}

#titulo-cabecalho {
    font-family: var(--font);
    color: var(--primary-color-um);
}

#imagem-logo {
    width: 200px;
    border-radius: 10px;
}

#corpo-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    color: var(--color-fonts);
    margin-top: 2rem;
}

label p {
    margin-bottom: 5px;
}

.campo {
    width: 300px;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;

}

.input-container {
    position: relative; 

} 


.campo:focus {
outline: none;
border-color: #007bff;
}

.input-container .btn-no-input {
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
background: transparent;
border: none;
padding: 0 12px;
height: 100%;
color: #6c757d;
cursor: pointer;
}

.input-container .btn-no-input:hover {
color: #343a40;
}

#submit{
    width: 300px;
    padding: 0.8rem;
    font-weight: bolder;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    
}